# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.* 

# Build artifacts
build/
dist/
*.egg-info/
*.egg

# IDE / Editor files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Java / Android
*.class
*.apk
*.aar
*.dex

# Logs
*.log

